body{ color: #FF3333; }

.col-two dt, .col-two dd {
    color: #FF3333;
}
body{background-color: #b0c4de; }
p {
    font-family: "Times New Roman", Times, serif;
}
h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 14px;
}
div {
    box-shadow: 10px 10px 5px #888888;
}
